.git
.gitignore

node_modules
**/node_modules

dist
**/dist
*.tsbuildinfo

.DS_Store
.tmp
coverage
playwright-report
test-results

**/.env
**/.env.*
!**/.env.example
!apps/web/.env.production

data
**/data/*.sqlite
**/data/*.sqlite-*
**/data/backups
